
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
  margin-left: 20px;
  font-size: 16px;
}

.alert {
  position: absolute;
  left: 0;
}

.app-name {
  font-size: 28px;
  color: #616161;
}

.app-name:hover {
  text-decoration: none;
  color: #616161;
}

.wrap-image {
  width: 70px;
}

#navbar-gif {
  display: block;
  width: 100%;
  height: auto;
}

.masthead {
  text-align: center;
  color: white;
  padding: 4em;
}

.masthead h1 {
  font-size: 4em;
  font-weight: bold;
}

.background-gradient {
  background-image: url('http://homestead.test/img/cool-background.png');
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
}

.home-img {
  color: white;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
  height: 540px;
}

#welcome .card, #vault .card{
  height: 150px;
}

.footer {
  background-color: #616161;
  color: #fff;
  padding: 2em;
}

.hidden-content {
  display: none;
}

#vault .card {
  margin-top : 20px;
  cursor: pointer;
}

#vault .card:hover{
  box-shadow: 0 0 0 3px #658525;
  transition: .5s ease;
}

#vault .card-header {
  padding: 0 5px 0 0;
  background-color: white;
  border: none;
  height: 20px;
}

#vault .card-body {
  padding: 0 1.25em 0 1.25em;
  background-color: white;
  border: none;
}

.card-body footer {
  padding-top:20px;
}

.author-group{
  margin-left: 20px;
  color: #6c757d;
  font-size: 80%;
}

#search_result {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
}

#search_result .list-group-item{
  padding: 5px;
}

.padding-top {
  padding-top: 20px;
}

#user_display {
  margin-bottom: 10px;
}
.user_added {
  background:green;
  border-radius: 5px;
  height:30px;
  line-height: 30px;
  margin-right: 5px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  float: left;
}

.user_added span {
  color: white;
}

#this-is-you {
  width: 250px;
}

.list-group-item-clicked {
  background-color: white;
  border: solid 2px grey;
  border-radius: 5px;
  height: 35px;
  line-height: 31px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
}

.list-group-item-clicked:hover {
  box-shadow: 0 0 0 1px #658525;
  transition: .5s ease;
}

.list-group-item-clicked button {
  padding-top: 2px;
}

.error404{
  font-weight: bold;
  font-size: 32px;
}
